<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B94C8B1FAD944F001DA6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B94CA41FAD9451001DA6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B94CAF1FAD9452001DA6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
